@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(15deg, #e7af8d, #3f5f66 );
    
}

body p {
    font-family: "work sans", sans-serif;
}

b, strong {
    color: #310d20
}


header{
    background-color:#171219;
    color: white;
    padding: 10px;
    width: 100%;    
    font-family: "Lora", serif;
}

.containerheader{
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.imgheader{
    position: relative;    
}

.nomeheader{
    width: 65%;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing:auto;
    font-weight:<weight>;
    font-style:normal ; 
    font-size:40px;
    position:relative;
   
}

.contactus{
    text-align: center;
    width: 15%;
    font-size: 20px ;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style:normal;
    cursor: pointer;
    
}
.contactus a{
    text-decoration: none;
    color: white;
}


.navbar{
    text-align: center;
    width: 20%;
    font-size: 20px ;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    
    
    
    
    
}
.dropdown a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    transition:  300ms;
    
}
.dropdown{
    width: 20%;
    text-align: center;
    list-style: none;
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    background: #171219;
    transition: all 10s;
    border-radius: 5px;


}
.navbar:hover .dropdown{
    display: block;
}
.dropdown a:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    color: #3f5f66;
    

}


















.imgheader img{
    width: 80px;
}
.imgheader img::after{
    background-image: rgba(0, 100, 0, 0.5);
}

.content{
    padding: 2% 15px 10% 15px ;
    width: 80%;
    margin: 5% auto;
    font-size: 20px;
    line-height: 30px;
    background-image: linear-gradient(15deg, #e7af8d, #3f5f66 );
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 40px    ;
    border-radius: 5px;
}
.content h1, h2{
   padding: 20px; 
   font-family: "orbitron", sans-serif;
   text-shadow: 0.1em 0.1em 0.5em #161616;
}

.gif{
    float: right;
    width: 400px;
    height: 300px;
    border: none;
    padding: 0;
    border-radius: 50%;
    box-shadow: 1mm 1mm 1mm 1mm ;
    opacity: 1;
    filter: brightness(2);
}


.video{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
     
}

.video iframe{
    border-radius: 10px;
    border: 2px #310d20;
}

.introdution {
    width: 90%;
    margin: auto 5%;
}

.introdution p {
    font-size: 22px;
    text-align: left;
}

.principal p {
    margin: 2% 5%;
    text-align: justify;
    padding-top: 2% ;
}


.video-ballet {
    float: right;
    display: inline-block;
    border-radius: 2%;
    margin: 1% 5%;
}

.video-breakdance {
    float: left;
    display: inline-block;
    border-radius: 2%;
    margin: 1% 5%;
}

.video-tango {
    float: right;
    display: inline-block;
    border-radius: 2%;
    margin: 1% 5%;
}

.video-moderna {
    float: left;
    display: inline-block;
    border-radius: 2%;
    margin: 1% 5%;
}

.video-samba {
    float: left;
    display: inline-block;
    border-radius: 2%;
    margin: auto 5%;
}

.video-forro {
    float: right;
    display: inline-block;
    border-radius: 2%;
    margin: auto  5%;
}

.video-frevo {
    float: left;
    display: inline-block;
    border-radius: 2%;
    margin: auto 5%;
}

.video-capoeira {
    float: right;
    display: inline-block;
    border-radius: 2%;
    margin: auto  5%;
}
.dancemusica{
    float: right;
    width: 300px;
    border-radius: 20px;
}
.tabela h1{
    text-align: center;
}
p{
    text-align: justify;

}
.tabela td{
    width: 10%;

}
.tabela th{
    font-size: 26px;
    color: white;
    background-color: #171219;
    border-radius: 5px;
    font-family: "Orbitron", sans-serif;

}
.tabela table{
    text-align: center;
    box-shadow: 1mm 1mm 1mm 1mm;
    border-radius: 5px;
    
}
footer{
    background-color:#171219;
    color: white;
    padding: 10px;
    width: 100%;    
    font-family: "Lora", serif;

}
.containerfooter{
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    text-align: center;
    
}
.gitnajuh{
    width: 33%;
    padding: 10px;
    font-size: 44px;
    text-align: center;

    
    
}
.textfooter{
    width: 33%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    
    
    
}
.gitgabs{
    width: 33%;
    padding: 10px;
    font-size: 44px;
    text-align: center;
     }

.gitgabs a{
    text-decoration: none;
    color: rgb(0, 153, 255);
}

.gitnajuh a {
    text-decoration: none;
    color: brown;
}
